body {
    background: #EEEEEE url(../images/header.gif) repeat-x top left;

    font: 0.7em "Arial", Helvetica, Sans-Serif;
    width: 100%;
}

h1  {
    line-height: 0.5em;
    font-size: 14pt;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: normal;
    margin: 0;
}


/*
+++++++++++++++++++++++++++++++++
+++++++++++++header++++++++++++++
+++++++++++++++++++++++++++++++++
*/
#header {
    margin: 0px auto auto auto;
    max-width: 750px;
    /*min-height: 75px;*/
    min-width: 750px;



}
#logo {
    float: left;


    min-width: 300px;
    max-width: 300px;
    min-height: 50px;
    max-height: 50px;

    font-size: 12pt;

    padding-top: 15px;
    padding-left: 5px;

    margin-left: -15px;
    color: #730404;
    text-decoration: none;
}

#logo div h1 a:visited {
    color: #730404;
    text-decoration: none;
}

#logo div h1 a:hover {
    color: #0D2884;
    text-decoration: none;
}

#logo div h1 a:active {
    color: #730404;
    text-decoration: none;
}

#logo h1 a {
    color: #730404;
    text-decoration: none;
}

#logo .slogan {
    color: black;
    font-weight: normal;
    font-size: 8pt;
    border-left: 1px solid #808080; 
    float: right;
    padding-left: 17px;
}

#hmenu {
    float: right;



    padding-top: 0px;
    padding-right: 0px;
}
#hmenu p {

    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
 
    margin-top: 2px;
    margin-left: 2px;

    display: inline-block;
  
    background-image: url(../images/hmenuarrow.gif);
    background-repeat: no-repeat;
    background-position: top center;

    border-bottom: 3px solid #A5A1A1;

    line-height: 2em;

    text-decoration: none;
    font-size: 8pt;
    background-color: #CBCBCB;



}

#hmenu p a {

    color: black;
    text-decoration: none;
}

#hmenu p a:visited {

    color: black;
    text-decoration: none;
}

#hmenu p a:hover {

    text-decoration: none;
}

#hmenu p a:active {
    
    color: black;
    text-decoration: none;
}


#login {
    clear: right;
    float: right;

    font-size: 8.5pt;
}



/*
+++++++++++++++++++++++++++++++++
+++++++++++++++main++++++++++++++
+++++++++++++++++++++++++++++++++
*/
#main{
    clear: both;
    overflow: auto;
    background: #FFFFFF url(../images/contentbg.gif) repeat-x left top;

    border-top: 1px solid white;
}
/*
+++++++++++++++++++++++++++++++++
++++++++++++content++++++++++++++
+++++++++++++++++++++++++++++++++
*/
#main #content{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    height: auto;
    overflow: auto;

    border-bottom: 14px solid #4682B4;
}


/*
+++++++++++++++++++++++++++++++++
+++++++++++++sidebar+++++++++++++
+++++++++++++++++++++++++++++++++
*/

#main #content #sidebar {

    margin-top: 3px;
    float: right;
    border: 1px solid white;
    width: 216px;
}

#searchform {

    position: absolute;


    color: white;
    background-color: #818181;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 9pt;
    width: 216px;
    height: 23px;
    text-align: center;
}

#searchform input.button {
    color: white;
    background-color: #818181;
    border: none;
}


#search_field {
    height: 15px;
    width: 140px;

    border: 1px solid #eeeeee;
    background-color: #d8d8d8;
}


.tt-dropdown-menu{
    text-indent: 0px;
    font-size: 10pt;
    width: 140px;

    line-height: 4px;
    padding: 0px;
    border: 1px solid black;
    background-color: #818181;
}

.tt-suggestion{

}

.tt-suggestions{

}
.tt-cursor{
    padding: 0px;
    line-height: 2px;
    cursor: pointer;
    color: red;
}


.tt-dropdown-menu-states{
}


#sidebarmenu {
    margin-top: 31px;
    width: 216px;
    height: 26px;
    background-color: #D23A1E;

    background-image: url(../images/vmenuarrow.gif);
    background-repeat: no-repeat;
    background-position: left center;

}

#info {
    margin-top: 2px;
    width: 216px;
    font-size: 8pt;
    overflow: auto;
    background-color: #EEEEEE;
}

#info p{
    margin: 5px;
}

#addMenu {

    border: 2px solid #EEEEEE;

    margin-top: 2px;
    width: 212px;
    height: 51px;
    background-color: #EEEEEE;

    background-image: url(../images/seoad.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}


#addMenu p {

    font-size: 12pt;

    font-weight: bold;
    margin-top: 2px;

    padding-top: 14px;
    padding-left: 18px;
}

#addMenu p a {
    color: navy;
    text-decoration: none;
}

#addMenu p a:visited {
    color: navy;
    text-decoration: none;
}

#addMenu p a:hover {
    color: #0D2884;
    text-decoration: none;
}

#addMenu p a:active {
    color: navy;
    text-decoration: none;
}

/*
+++++++++++++++++++++++++++++++++
++++++++++++articles+++++++++++++
+++++++++++++++++++++++++++++++++
*/

#main #content #articles {
    width: 520px;
    float: left;
    margin-top: 18px;
}

#main #content #articles h1 {
    padding-bottom: 10px;
    border-bottom: 4px solid #4682B4;
}


#main #content #articles .articlePreview {
    margin-top: -10px;
    font-size: 8pt;
    border-bottom: 1px dotted gray;
}

#main #content #articles .articlePreview a {
    background-image: url(../images/h2bg.gif);
    background-repeat: no-repeat;
    background-position: left center;

    text-decoration: none;
    color: black;
    font-size: 13pt;
    padding-left: 20px;
    padding-bottom: 4px;
}

#main #content #articles .articlePreview a:hover {
    background-image: url(../images/h2bghover.gif);
    color: red;
}

#main #content #articles .articlePreview .date {
    color: #A7A1A1;
}

#main #content #articles .articlePreview .date a{
    font-size: 8pt;
    background-image: none;

    text-decoration: underline;
    padding: 0 0 4px 0;
    color: #A7A1A1;
}

#main #content #articles .articlePreview .date .author{

}

#main #content #articles .articlePreview .date .readMore{
    background-image: url(../images/more.gif);
    background-repeat: no-repeat;
    background-position: left;

    padding-left: 10px;
    padding-right: 8px;
    float: right;
}

#main #content #articles .articlePreview .date .comments{
    background-image: url(../images/comment.gif);
    background-repeat: no-repeat;
    background-position: left;

    padding-left: 10px;
    padding-right: 8px;
    float: right;
}

#main #content #articles .articlePreview .date .actualDate{
    background-image: url(../images/timeicon.gif);
    background-repeat: no-repeat;
    background-position: left;

    padding-left: 10px;
    padding-right: 8px;
    float: right;
}

.delButton {
    background-color: #D23A1E;
    position: relative;
    top: 20px;
    left: 487px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 3px;
    line-height: 3px;

}

.editButton {
    background-color: #818181;
    position: relative;
    top: 20px;
    left: 486px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 3px;
    line-height: 3px;

}
.addFormButton {
    background-color: #4682B4;
    position: relative;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    bottom: 2px;
    padding: 3px;
    line-height: 3px;
}

#articleForm{
    color: white;
    padding: 10px;
    padding-top: 10px;
    display: none;
    background-color: #D23A1E;
    /*background-color: #818181;*/
}

#articleTitle{

}

#articleText{

}

#articleAuthor{
    float: right;
    padding-right: 2px;
}

.articleSubmit{

}

#addArticle{
    padding-bottom: 10px;
}

.editForm{
    background-color: #818181;
    display: none;
}
/*
+++++++++++++++++++++++++++++++++
+++++++++++pagination++++++++++++
+++++++++++++++++++++++++++++++++
*/

#main #content #articles #pagination {
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 25px;
}

#main #content #articles #pagination #prevPage {
    padding-left: 5px;
    float: left;
}


#main #content #articles #pagination #pagenum{
    float: left;
    padding-left: 194px;
}


#main #content #articles #pagination #nextPage{
    padding-right: 5px;
    float: right;
}

/*
+++++++++++++++++++++++++++++++++
+++++++++++additional++++++++++++
+++++++++++++++++++++++++++++++++
*/

#additional {
    
    border-bottom: 2px solid white;
}

#additional #quote {
    font-size: 8pt;

    margin: 0 auto 15px auto;
    width: 750px;
    background-color: white;
    overflow: auto;
    clear: both;

}

#additional #quote p {
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    float: left;
    margin: 0px;
    line-height: 20px;
}

/*
+++++++++++++++++++++++++++++++++
++++++++++++++footer+++++++++++++
+++++++++++++++++++++++++++++++++
*/

#footer {
    line-height: 20px;

    font-size: 8pt;
    color: #A7A1A1;

    margin: 10px auto 30px auto;
    width: 750px;
}

#footer a{
        font-size: 8pt;
    color: #A7A1A1;
    text-decoration: underline;
}

/*defaults*/
.contentContainer p {
    text-align: justify;
}
.contentContainer, .codeContainer {
    height: 100%;
}
.contentContainer > div, .codeContainer > div {
    display: none;
    margin: 0 3%;
    height: 100%;
    vertical-align: top;
}

.codeContainer pre {
    white-space: pre;
    word-wrap: normal;
    margin: 0;
    height: calc(100% - 30px);
}

.codeContainer code {
    overflow: auto;
    height: calc(100% - 1em);
}
.nav {
    width: 200px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.contentHead {
    height: 30px;
} 
.contentContainer div.content {
    overflow: auto;
    height: calc(100% - 30px);
}
.codeContainer > pre {
    overflow: auto;
    height: calc(100% - 30px);
}
.head  {
    height: 100px;
    width: 100%;
}
.row {
    position:  absolute;
}
.body {
    top: 100px;
    bottom: 60px;
    width: 100%
}


/* Search Example */
#ResultsDisplay {
    width:  100%;
    display: none;
}
            
#ResultsPaging {
    display: none;
}

#PerformSearch {
    margin-bottom: 3px;
}

.nav-button {
    margin-top: 3px;
}

/* Simple Example */
.simple-template-container, .simple-template-container-single {
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    margin:  10px;
}
            
.simple-template-container img {
    display: inline-block;
}
            
.simple-template-container .post-container {
    display: inline-block;
    width: 240px;
    margin-left: 10px;
    vertical-align: top;
}
            
.script-template-container {
    width: 140px;
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}