body{
	background-color: #E1E1E1;
}


.notification-success, .notification-danger{
	opacity: 0.95;
	padding: 0px;

	font-size: 20pt;
	text-align: center;
	z-index: 999;
	
	display: none;
}

.notification-success .alert-success, .notification-danger .alert-danger{
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
	margin: 0px;
}

.center{
	position: fixed;
	margin-top: 15%;
}
/*
+++++++++++++++++++++++++++++++++
+++++++++++++header++++++++++++++
+++++++++++++++++++++++++++++++++
*/

#siteTitle{
	opacity: 0.7;
	color: #3D445E;
	background-color: inherit;
	text-align: center;
}

#siteTitle h1 {
	margin: 25px 0 0 0;
}

#siteTitle h1 a{
	color: #3D245E;
}

#siteTitle h1 a:hover{
	color: #3D445E;
	text-decoration: none;
	cursor: default;
}


#siteTitle p{
	font-size: 16px;
}

#header{
    background: -moz-linear-gradient(top, #A2A5BB 0%,#E5E9FF 100%);
    background: -webkit-linear-gradient(top, #A2A5BB 0%,#E5E9FF 100%);
    background: -o-linear-gradient(top, #A2A5BB 0%,#E5E9FF 100%);
    background: linear-gradient(top, #A2A5BB 0%,#E5E9FF 100%);
}

#header .col-md-12{

}

#loginForm{
	opacity: 0.8;
	display: none;
	padding: 3px;

	background-color: #3D445E;
	text-align: center;
	border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;

}

#loginForm .form-control{
	height: 22px;
	border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#loginForm .input-group .form-control{
	height: 22px;
	border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


#loginForm .btn-default{
	padding: 1px 2px 1px 2px;
	height: 24px;
	border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


#loginForm .checkbox{
	color: white;
	padding-right: 5px;
}

.glyphicon-chevron-up, .glyphicon-chevron-up:hover{
	display: none;
	margin-left: 50%;
	cursor: pointer;
}

.glyphicon-chevron-down, .glyphicon-chevron-down:hover{
	margin-left: 50%;
	cursor: pointer;
}

#hmenuAndSearch{

}

#hmenu {
	opacity: 1;
	background-color: inherit;
	border: none;
	margin: 0px;


}

#hmenu .navbar-nav{
	float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

#hmenu .navbar-default{


	
}

/*searchform*/
.navbar-form{

}

#hmenu .navbar-nav li:hover{
	background-color: #C2CDFF;
	font-style: normal;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#hmenu .navbar-nav li:focus{
	background-color: #C2CDFF;
	font-style: normal;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#hmenu .dropdown-toggle:focus{
	background-color: #C2CDFF;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#hmenu .dropdown-toggle{
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#hmenu .dropdown-menu{
	opacity: 0.97;
	background-color: #C2CDFF;
	border: none;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#hmenu .dropdown-menu li:hover{
	cursor: pointer;
	background-color: #C2DDFF;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#hmenu .dropdown-toggle:visited{
	background-color: #C2CDFF;
	font-style: normal;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#hmenu .navbar-nav li a{
  padding: 6px 16px 6px  16px;

}

#searchForm{
	margin-right: 8%;
	padding: 6px;
	float: right;


	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tt-dropdown-menu{
	opacity: .8;

	text-align: center;
  text-indent: 0px;
  font-size: 10pt;
  width: 196px;

  line-height: 8px;
  padding: 10px;
  
  background-color: #969AFF;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tt-suggestion{

}

.tt-suggestions{

}
.tt-cursor{

  line-height: 5px;
  cursor: pointer;
  color: #F34E3C;
}


.tt-dropdown-menu-states{
}


#hmenu .form-control{
	background-color: #F0F2FF;
	height: 22px;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#hmenu .form-control:focus{
	background-color: white;
}

#hmenu .btn-default{
	background-color: inherit;

  border: none;
	padding: 1px 9px 3px 9px;
	height: 22px;

}

/*
+++++++++++++++++++++++++++++++++
+++++++++++++++main++++++++++++++
+++++++++++++++++++++++++++++++++
*/

#main{
	opacity: 0.95;
	background-color: #E5E9FF;

}

#leftSide{

}

#leftSide #mainArticle{
	background-color: #D5DBFF;
	
	margin-top: 10px;
	margin-bottom: 6px;
	padding: 15px;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#rightSide{

}

#rightSide #articlesNavigation{
	background-color: #CCEBFF;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;


	margin-top: 10px;
	padding: 15px;
}

#dateList{
	text-align: center;
}

#dateList a{
	color: black
}

#dateList a:hover{
	cursor: pointer;
}


#main #accordion{
	border-color: black;
}

#main .panel-primary{
	background-color: inherit;
	border: none;

}
#main .panel-primary>.panel-heading{
	background-color: #88ACC4;
	border: none;


  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body{
	border-top: none;
	background-color: #A1CBE8;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.panel-primary>.panel-heading .badge{
	color: black;
}

.pager a{
	color: black;
}

.panel-body{
	
}

.articleTitle{
	color: red;
	font-size: 20px;
	font-weight: bold;
}

.articleContent{

}

.articleAuthor{
	padding: 5px;
	float: left;
}

.articleDate{
	padding-right: 5px;
	padding-left: 5px;
	float: right;
}

.articleComments{
	padding-right: 5px;
	float: right;
}


#addOrEditArticleBlock{
	display: none;

	padding: 15px;

	background-color: #A1CBE8;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#addOrEditArticleFormTitle{
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	font-size: 14pt;
}

/*
+++++++++++++++++++++++++++++++++
++++++++++++profile++++++++++++++
+++++++++++++++++++++++++++++++++
*/

#profile{
	background-color: #A1CBE8;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
}

/*
+++++++++++++++++++++++++++++++++
++++++++++++contacts+++++++++++++
+++++++++++++++++++++++++++++++++
*/

#contacts{
	background-color: #A1CBE8;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
}

/*
+++++++++++++++++++++++++++++++++
+++++++++++++themes++++++++++++++
+++++++++++++++++++++++++++++++++
*/

.themes{
	background-color: #D5DBFF;
	
	margin-top: 10px;
	margin-bottom: 6px;
	padding: 15px;

	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*
+++++++++++++++++++++++++++++++++
+++++++++++++footer++++++++++++++
+++++++++++++++++++++++++++++++++
*/
#footer{
	background: -webkit-linear-gradient(top, #E5E9FF 0%,#E1E1E1 100%);
}

#footer .navbar-default{
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: inherit;
}

#fmenu .navbar-nav{
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

#fmenu .navbar-nav li{
	font-style: italic;
	padding: 0px;
	margin: 0px;
}

#fmenu .navbar-nav > li > a {
	border-right: 1px solid gray;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

#fmenu .navbar-nav > li:last-child > a {
	border-right: none;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}