<div class="panel panel-primary" id="panel-<%= _id %>">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" class="accordionTitle" id="articleTitle-<%= _id %>" href="#accordion-<%= _id %>"><%= title %></a>
          <button class='delButton' id='delButton-<%= _id %>' value='<%= _id %>'>x</button>
          <button class='editButton' id='editButton-<%= _id %>' value='<%= _id %>'>e</button>
          <div class="articleDate" id="articleDate-<%= _id %>">Date: <%= date %></div>
          <span class="badge pull-right">0</span>
          <div class="articleComments">Comments</div>
        </h4>
      </div>
  
      <div id="accordion-<%= _id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="article">
            <div class="articleContent" id="articleContent-<%= _id %>"><%= content %></div>
            <div class="articleAuthor" id="articleAuthor-<%= _id %>"><%= author %></div>
          </div>
        </div>
      </div>
</div>