<div class="col-md-5 col-md-offset-2" id='contacts'>
    <img src="../images/earth.png" alt="earth" style="float: left; padding: 15px; width: 28%; height: 28%;" class="img-circle">Lorem ipsum dolor 
    sit amet, consectetur adipiscing elit. Nullam ac odio sed sapien commodo dapibus. Cras sed enim nulla. Quisque ultrices congue facilisis. Aliquam cursus a dui 
    vel vestibulum. Morbi pharetra at libero ut sagittis. Proin blandit neque velit, finibus ullamcorper felis rhoncus sit amet. Cras maximus sapien a aliquet port.
    Aliquam et facilisis dui. Cras sed orci egestas, vehicula quam sed, ullamcorper turpis. Vestibulum efficitur lorem a nulla tincidunt dapibus.

    <p><address>
      <strong>Twitter, Inc.</strong><br>
      795 Folsom Ave, Suite 600<br>
      San Francisco, CA 94107<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address></p>
</div>