<div id="addOrEditArticleFormTitle">Add new article</div>
<form role="form">
  <div class="form-group">
    <label for="inputTitle">Article title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="inputText">Article content</label>
    <textarea class="form-control" id="inputText" placeholder="Enter text" style="resize:none" rows="11"></textarea>
  </div>
  <div class="form-group">
    <label for="inputAuthor">Author name</label>
    <input type="text" class="form-control" id="inputAuthor" placeholder="Enter author">
  </div>
  <button type="submit" class="btn btn-default" id="addSubmit">Add new</button>
</form>